body {
  background-color: #e6ceac;
  color: #292418;
  font-family: monospace;
}

h1, #navigation {
  text-align: center;
}

button {
  color: #292418;
  outline: none;
  width: 30%;
  height: 30px;
  font-family: monospace;
  font-size: 25px;
  background-color: #bda583;
  border: 1px solid #524839;
}
